body {
    margin: auto auto; 
    padding: 40px 0;
    width: 100vw; 
    height: 100vh; 
    background: black;
    cursor: url("cursor.png"), default;
}

.first_row, .second_row {
    display: flex; 
    flex-wrap: wrap;   
    justify-content: space-evenly;
    background: black;
    transition: all 1s ease;
    }

    .cell{
        text-align: center;
        margin: auto auto; 
        font-size: 16px;
        color:black ; 
        display: table-cell;
        vertical-align: middle;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: auto;
        transition: 1s ease;
    }
    .cell:hover{
        text-align: center;
        margin: auto auto;
        display: table-cell;
        vertical-align: middle; 
        font-size: 16px;
        text-decoration: underline;
        color:rgba(50,255,0,1) ; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: auto;
        transition: 1s ease;
    }
    .div1 {
        height: 295px; 
        width: 240px;
        color:rgba(50,255,0,1) ; 
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 45%, rgba(50,255,0,1) 45%);
        }
    .div1:hover {
            background-color: rgb(0,0,0);
            text-align: center;
            color: black;
            background: radial-gradient(circle, rgba(0,0,0,1) 6%, rgba(50,255,0,1) 15%);
            cursor: url("cursor1.png"), default;
        }

        .div2 {
            height: 295px; 
            width: 240px;
            background: rgb(50,255,0);
            background: radial-gradient(circle, rgba(50,255,0,1) 45%, rgba(0,0,0,1) 45%);
            }
        .div2:hover {
                background-color: rgb(0,0,0);
                background: radial-gradient(circle, rgba(50,255,0,1) 6%, rgba(0,0,0,1) 15%);
                cursor: url("cursor.png"), default;
            }
            .div3 {
                height: 295px; 
                width: 240px;
                background-image: url(light.svg); 
                }
            .div3:hover {
                    height: 295px; 
                    width: 240px;
                    transform: rotate(180deg);
                    cursor: url("cursor1.png"), default;
                }
                .div4 {
                    height: 295px; 
                    width: 240px;
                    background-image: url(digit.svg); 
                    }
                .div4:hover {
                        height: 295px; 
                        width: 240px;
                        background-image: url(digit_hover.svg); 
                        cursor: url("cursor.png"), default;
                    }
                    .div5 {
                        height: 295px; 
                        width: 240px;
                        background-image: url(link.svg);
                        }
                    .div5:hover {
                            height: 295px; 
                            width: 240px;
                            background-image: url(link_hover.svg); 
                            cursor: url("cursor1.png"), default;
                            }
                        .div6 {
                                height: 295px; 
                                width: 240px;
                                background-image: url(int.svg);
                                }
                        .div6:hover {
                                    height: 295px; 
                                    width: 240px;
                                    background-image: url(int_hover.svg); 
                                    cursor: url("cursor.png"), default;
                                    }
                            .div7 {
                                        height: 295px; 
                                        width: 240px;
                                        background-image: url(opt.svg);
                                        }
                            .div7:hover {
                                            height: 295px; 
                                            width: 240px;
                                            background-image: url(opt_hover.svg); 
                                            cursor: url("cursor1.png"), default;
                                          
                                            }
                                            .div8 {
                                                height: 295px; 
                                                width: 240px;
                                                background-image: url(p1.svg);
                                                }
                                            .div8:hover {
                                                    height: 295px; 
                                                    width: 240px;
                                                    transform: scaleX(200%);
                                                    cursor: url("cursor.png"), default;
                                                    }
                        
        