body {
    margin: auto auto; 
    padding: 0 0;
    width: 100vw; 
    height: 100vh; 
    background: black;
    cursor: url("cursor.png"), default;
}

.topmenu {
    padding: 0 0;
    width: 100vw; 
    display: flex; 
    /* flex-wrap: wrap;    */
    /* justify-content: space-evenly; */
    background: black;
    transition: all 1s ease;
    }
    .first_line, .second_line {
        padding: 0 0;
        width: 100vw; 
        display: flex; 
        /* flex-wrap: wrap;    */
    }

    .menucell{
        width: 110vw; 
        height: 8vh; 
        text-align: center;
        margin: auto auto; 
        font-size: 16px;
        color:black ; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* border: 1px solid blueviolet; */
        padding: 0;
        transition: 1s ease;
    }
    .menucell:hover{
        text-align: top;
        margin: auto auto;
        font-size: 16px;
        text-decoration: underline;
        color:rgba(50,255,0,1) ; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
        /* transform: scale(90%); */
        transition: 1s ease;
    }
    .divm1 {
        background-image: url(top_menu/top_menu-01.png); 
        }
    .divm1:hover {
        background-image: url(top_menu/top_menu-02.png); 
        }
        .divm2 {
            background-image: url(top_menu/top_menu-05.png); 
            }
        .divm2:hover {
            background-image: url(top_menu/top_menu-06.png); 
            }
            .divm3 {
                background-image: url(top_menu/top_menu-09.png); 
                }
            .divm3:hover {
                background-image: url(top_menu/top_menu-10.png); 
                }
                .divm4 {
                    background-image: url(top_menu/top_menu-13.png); 
                    }
                .divm4:hover {
                    background-image: url(top_menu/top_menu-14.png); 
                    }
                    .divm5 {
                        background-image: url(top_menu/top_menu-03.png); 
                        }
                    .divm5:hover {
                        background-image: url(top_menu/top_menu-04.png); 
                        }
                        .divm6 {
                            background-image: url(top_menu/top_menu-07.png); 
                            }
                        .divm6:hover {
                            background-image: url(top_menu/top_menu-08.png); 
                            }
                            .divm7 {
                                background-image: url(top_menu/top_menu-11.png); 
                                }
                            .divm7:hover {
                                background-image: url(top_menu/top_menu-12.png); 
                                }
                                .divm8 {
                                    background-image: url(top_menu/top_menu-15.png); 
                                    }
                                .divm8:hover {
                                    background-image: url(top_menu/top_menu-16.png); 
                                    }

    .first_line {
    padding: 0 0;
    width: 100vw; 
    display: flex; 
    /* flex-wrap: wrap;    */
    justify-content: space-evenly;
    background: black;
    transition: all 1s ease;
    }

    .laycell{
        width: 40vw; 
        height: 80vh; 
        text-align: top left;
        margin: auto auto; 
        font-size: 10px;
        color:white ; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid white;
        transition: 1s ease;
    }
    .laycell:hover{
        text-align: top;
        margin: auto auto;
        font-size: 10px;
        text-decoration: underline;
        color:rgba(50,255,0,1) ; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: auto;
        transition: 1s ease;
    }
    .divp1, .divp2,.divp4,.divp5 {
        width: 40vw; 
        height: 60vh;  
    }
    .divp1_1, .divp4_1, .divp7_1, .divp10_1 {
        height: 7vh; 
        background-color: tomato;
    }
    .divp1_2, .divp4_2, .divp7_2, .divp10_2 {
        height: 33vh; 
        text-size-adjust: auto;
        padding-right: 9%;
    }
    .divp2 {
        background-image: url(submissions/altana_i_miss.jpeg); 
    }
    .divp3, .divp6 {
        width: 80vw; 
        height: 60vh;  
    }
    .divp5 {
        background-image: url(submissions/masha_v_i_miss.jpeg);
    }

    .divp7, .divp9,.divp10,.divp12 {
        width: 40vw; 
        height: 60vh;  
    }

    .divp9 {
        background-image: url(submissions/liza_i_miss.jpeg); 
    }
    .divp8, .divp11 {
        width: 80vw; 
        height: 60vh;  
    }
    .divp12 {
        background-image: url(submissions/masha_k_i_miss.jpeg);
    }